:root {
    --primary-font:'Roboto',sans-serif;
    --secondary-font:'Raleway',sans-serif;
    --accent-color: #2196F3;
    --primary-font-size:14px;
    --primary-font-weight:400;
    --primary-text-color: #212121;
    --primary-letter-spacing: 0.03em;
    --secondary-text-color:#757575;
    --third-text-color:#FFFFFF;
}

.list {
    list-style: none;
}

.link,
.logo {
    text-decoration: none;
}
.for-seo {
    opacity:0;
}

body {
    font-family: var(--primary-font);
    font-size: var(--primery-font-size);
    letter-spacing: 0.03em;
}
/*=================================COMPONENTS===============================*/

.benefits-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color:var(--primary-text-color);
}

.benefits-description {
    font-weight:var(--primery-font-weight);
    line-height: 1.7;
    color: var(--secondary-text-color);
}

.portfolio-deskription {
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}

.second-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    color: var(--primary-text-color);
}

.portfolio-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--primary-text-color)
}

.our-workers {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    color: var(--primary-text-color);
}

.position {
    font-weight: var(--primery-font-weight);
    font-size: 16px;
    line-height: 1.19;
    color: var(--secondary-text-color);
}
/*=================================/COMPONENTS===============================*/

.logo {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--accent-color);
}

.half-logo {
    color: var(--primary-text-color);
}
/*=================================HEADER===============================*/

.menu-link {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
}

.menu-link:hover,
.menu-link:focus {
    color: var(--accent-color);
}

.contact {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
}

.contact:hover,
.contact:focus,
.footer-contact:hover,
.footer-contact:focus,
.adress:hover,
.adress:focus{
    color: var(--accent-color);
}
/*================================/HEADER===============================*/

.modal-btn {
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    cursor: pointer;
    letter-spacing: 0.06em;
    color: var(--third-text-color);
    background: var(--accent-color);
}

.modal-btn:hover,
.modal-btn:focus,
.portfolio-btn:hover,
.portfolio-btn:focus{

    background-color:  var(--accent-color);
    color: var(--third-text-color);
}

.portfolio-btn {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    cursor: pointer;
    color: var(--primary-text-color)
}

.main-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--third-text-color);
}

.adress {
    font-style: normal;
    font-size: 14px;
    font-weight: var(--primery-font-weight);
    line-height: 1.7;
    color: var(--third-text-color);
}

.footer-contact {
    font-style: normal;
    font-weight: var(--primery-font-weight);
    line-height: 1.7;
    color: rgba(255, 255, 255, 0.6);
}

.section-our-team {
    background: #F5F4FA;
}

.background-theme {
    background: #2F303A;
}

.second-half-logo {
    color: var(--third-text-color);
 }